.ingridientItem {
  max-width: 272px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.ingridientItem {
  cursor: pointer;
}

.ingridientItem__price {
  display: flex;
}

.ingridientItem__name {
  text-align: center;
}

.link {
  text-decoration: none;
  color: #f2f2f3;
}
