.root {
  width: 640px;
}

.orderDetailNumber {
  text-align: center;
}

.orderDetailStatus_theme_canceled {
  color: #af3c28;
}

.orderDetailStatus_theme_finished {
  color: #0cc;
}

.orderDetailItems {
  margin: 0 0 40px;
  padding: 0 32px 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 88px - 420px);
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: #8585ad #2f2f37;
  list-style: none;
}

.orderDetailItems::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.orderDetailItems::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.orderDetailIngredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.orderDetailIngredientContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.orderDetailIngredientIcon {
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  background-color: #131316;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 2px solid #801ab2;
  border-radius: 50%;
}

.orderDetailSummary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderDetailDate {
  color: #8585ad;
}

.orderDetailPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
