.burgerConstructor__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.burgerConstructor__item:last-of-type {
  margin-bottom: 0;
}

.burgerConstructor__itemIsDrag {
  opacity: .5;
}
