.burgerIngridients {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 88px);
}

.burgerIngridients__nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  list-style: none;
}

.burgerIngridients__typeList {
  max-height: calc(100vh - 350px);
  margin-bottom: 0;
  padding: 0;
  overflow-y: scroll;
  list-style: none;
  scrollbar-width: auto;
  scrollbar-color: #8585ad #2f2f37;
}

.burgerIngridients__typeList::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.burgerIngridients__typeList::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
