.appheader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C1C21;
}

.appheader__nav {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.appheader__navElement {
  display: flex;
  justify-content: flex-end;
  min-width: 375px;
}

.appheader__navLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  transition: .1s;
  text-decoration: none;
}

.appheader__navLink:hover {
  cursor: pointer;
}

.appheader__navLink__text {
  text-decoration: none;
  color: #F2F2F3;
}

.appheader__navLink__text_inactive {
  text-decoration: none;
  color: #8585ad;
}

.logo {
  transition: opacity .4s;
}

.logo:hover {
  opacity: .6;
}
